@{
    ViewData["Title"] = "Home Page";
}
<section id="home">
    <h2>ELO</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam reiciendis veniam repudiandae vero eaque iste amet sunt aliquam est cupiditate provident, earum quidem, placeat facere perferendis ut nulla, expedita voluptate.</p>
    <div class="btn">
        <a class="blue" href="#">Learn More</a>
        <a class="yellow" href="#">Visit Courses</a>
    </div>
</section>
<div class="container">
    <vc:list-features-view-components></vc:list-features-view-components>
    <vc:list-category-sub-cl-view-components></vc:list-category-sub-cl-view-components>
    <vc:list-category-sub-payment-view-components iduser="@Convert.ToInt32(User.Claims.SingleOrDefault(c => c.Type.Contains(System.Security.Claims.ClaimTypes.NameIdentifier))?.Value)"></vc:list-category-sub-payment-view-components>
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />

    <vc:list-category-sub-free-view-components></vc:list-category-sub-free-view-components>
</div>
    <vc:list-new-view-components></vc:list-new-view-components>