@{
    ViewData["Title"] = "Home Page";
}

<vc:list-features-view-components></vc:list-features-view-components>
<vc:list-category-sub-cl-view-components></vc:list-category-sub-cl-view-components>
<vc:list-category-sub-payment-view-components></vc:list-category-sub-payment-view-components>

<!-- Lybrary -->
<section id="lybrary">
    <h1>Lybrary</h1>
    <p>cbhabciabkjcbacjabcjkacbao</p>
    <div class="lybrary-box">
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lybraries">
            <div class="card-lybraries">
                <div class="row-lybraries">
                    <h5 class="lybraries-title"><i class="fa fa-cogs"></i> Latest Technologies</h5>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                    <div class="lybraries-item">
                        <div class="item">
                            <a href="#">
                                <img src="" alt="" class="image-tittle">
                                <p class="image-title">Bitcoin Tutorial</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

