<!-- Category -->
<secion id="category">
    <h1>Top Categories</h1>
    <p>cbhabciabkjcbacjabcjkacbao</p>
    <div class="cate-box">
        <a href="#" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/development.svg" alt="">
                </div>
                <div class="details">
                    <h6>Development</h6>
                    <span>2,800+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/it-and-networking.svg" alt="">
                </div>
                <div class="details">
                    <h6>IT and Networking</h6>
                    <span>800+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/data-science-and-ai-ml.svg" alt="">
                </div>
                <div class="details">
                    <h6>Data Science and AI ML</h6>
                    <span>650+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/cyber-security.svg" alt="">
                </div>
                <div class="details">
                    <h6>Cyber Security</h6>
                    <span>500+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/marketing.svg" alt="">
                </div>
                <div class="details">
                    <h6>Marketing</h6>
                    <span>400+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/office-productivity.svg" alt="">
                </div>
                <div class="details">
                    <h6>Office Productivity</h6>
                    <span>800+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/business.svg" alt="">
                </div>
                <div class="details">
                    <h6>Business</h6>
                    <span>200+ Course</span>
                </div>
            </div>
        </a>
        <a href="" class="">
            <div class="categories">
                <div class="circle">
                    <img src="images/lifestyle.svg" alt="">
                </div>
                <div class="details">
                    <h6>Lifestyle</h6>
                    <span>500+ Course</span>
                </div>
            </div>
        </a>




    </div>
</secion>
