@model IEnumerable<DoAnThucTap.Data.Entites.CategorySub>

<!-- Category -->
<secion id="category">
    <h1>Top Categories</h1>
    <p>cbhabciabkjcbacjabcjkacbao</p>
    <div class="cate-box">
        @foreach (var item in Model)
        {
            <a href="#" class="">
                <div class="categories">
                    <div class="circle">
                        <img src="/img/categorysub/@item.pathImg" alt="">
                    </div>
                    <div class="details">
                        <h6>@item.NameCategorySub</h6>
                        <span>@item.subjects.Count + Course</span>
                    </div>
                </div>
            </a>
        }

       




    </div>
</secion>
