@model DoAnThucTap.Web.Areas.Admin.ViewModels.CategorySub.AddorUpdateCategorySubVM

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="_Create" class="js-form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control id-categorysub" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Hình ảnh</label>
                    <input asp-for="Image" class="form-control image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameCategorySub" class="control-label">Danh mục bài học</label>
                    <input asp-for="NameCategorySub" class="form-control" />
                    <span asp-validation-for="NameCategorySub" class="text-danger"></span>
                </div> <div class="form-group">
                    <label asp-for="Descripstion" class="control-label">Mô tả</label>
                    <textarea asp-for="Descripstion" class="form-control" ></textarea>
                    <span asp-validation-for="Descripstion" class="text-danger"></span>
                </div>
                <a class="btn btn-outline-success js-addprice">Thêm giá tiền</a>
            </form>
        </div>
    </div>
</div>

