@model DoAnThucTap.Web.Areas.Admin.ViewModels.CategorySub.AddorUpdateCategorySubVM

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="_Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control id-categorysub" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Danh mục bài học</label>
                    <input asp-for="Image" class="form-control image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameCategorySub" class="control-label">Danh mục bài học</label>
                    <input asp-for="NameCategorySub" class="form-control" />
                    <span asp-validation-for="NameCategorySub" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="isPayment" class="control-label">
                        <input asp-for="isPayment" />
                        Khóa học này có phải trả tiền
                    </label>
                    <span asp-validation-for="isPayment" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

