<!-- Features -->
<section id="features">
    <h1>Awesome Features</h1>
    <p>cbhabciabkjcbacjabcjkacbao</p>
    <div class="fea-base">
        <div class="fea-box">
            <i class="fas fa-graduation-cap"></i>
            <h3>Scholarship Faccility</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam ipsam est distinctio? A maiores dolore odio corrupti harum id, dolorum veniam enim odit obcaecati soluta, pariatur est earum dignissimos.</p>
        </div>
        <div class="fea-box">
            <i class="fas fa-file-certificate"></i>
            <h3>Dell Online Course</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam ipsam est distinctio? A maiores dolore odio corrupti harum id, dolorum veniam enim odit obcaecati soluta, pariatur est earum dignissimos.</p>
        </div>
        <div class="fea-box">
            <i class="fas fa-award"></i>
            <h3>Global certification</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam ipsam est distinctio? A maiores dolore odio corrupti harum id, dolorum veniam enim odit obcaecati soluta, pariatur est earum dignissimos.</p>
        </div>
    </div>
</section>

