@model DoAnThucTap.Web.Areas.Admin.ViewModels.Role.EditRoleVM

@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="UpdateRole" method="post">
    <div class="row">
        <div class="col-md-12">
            <h5 class="my-3">Thông tin vai trò</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PermissionIds" hidden />
            <input asp-for="DeletedPermissionIds" hidden data-val="true" data-val-deleteAllPermission="@VM.RoleVM.PERMISSION_IDS_REQUIRED_ERR_MESG" />
            <input asp-for="AddedPermissionIds" hidden />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label">Tên vai trò</label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Mô tả</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <h5>Các hành động được phép</h5>
            <span asp-validation-for="DeletedPermissionIds" class="text-danger"></span>
        </div>

        @await Component.InvokeAsync("Permission")
    </div>
    <div class="row">
        <div class="col">
            <p class="font-italic">
                <span class="text-danger text-bold">*</span>
                Tài khoản thuộc vai trò này cần đăng nhập lại để cập nhật thay đổi
            </p>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
                <button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
            </div>
        </div>
    </div>
</form>


@section scripts {
    <script src="~/lib/masonry/masonry.pkgd.min.js"></script>
    <script src="~/js/role/create-edit-role.js" asp-append-version="true"></script>
}